<nav>
    <% if (user) { %>
        <a href="/cardCollections/my-collection">View your Collection</a>
        <a href="/cardCollections/all-collections">View all Collections</a>
        <a href="/auth/sign-out">Sign out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign up</a>
        <a href="/auth/sign-in">Sign in</a>
        <a href="/cardCollections/all-collections">View all Collections</a>
    <% } %>
</nav>