<form action="/cardCollections/add-cards" method="POST">
  Name: <input name="name" />
  <br>
  Card ID: <input name="cardId" />
  <br>
  Image URL: <input name="image" />
  <br>
  Quantity: <input name="quantity" type="number" min="1" />
  <br>
  Price: <input name="price" type="number" min="0" />
  <br>
  <button type="submit">Add Card to Collection</button>
</form>