<%- include('../partials/_navbar') %>

<h2>Create Your Digimon Card Collection</h2>

<form action="/cardCollections" method="POST">
    Collection Name:
    <input type="text" name="collectionName" required />
    <button type="submit">Create Collection</button>
</form>
