<% if (collection.cards.length === 0) { %>
    <p>Collection is Empty. Add cards to view them here!</p>
<% } else { %>
    <ul>
        <img src="<%= card.image %>"
        Name: <%= card.name %>
        <br>
        ID: <%= card.cardId %>
        <br>
        Quantity: <%= card.quantity %>
    </ul>
<% } %>